/*CSS DOCUMENT*/
@import url("https://use.typekit.net/tcf7peu.css");


body {
    background-color: #151515;
}

div.container {
    max-width: 70em;
    margin: 0 auto;
}

img {
    width:100%; 
}

.cover {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.logowhite{
    display: block;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5em;
}

nav ul {
    padding: 0em;
    word-spacing: 1.2em;
    text-align: center;
    
}

nav ul li {
    display: inline;
    list-style-type: none;
    margin-right: 1.5em;
    font-family: poppins;
    font-weight: bold;
    font-size: 1em;
}

nav ul li a{
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #4d8b55;
}

h1 {
    color: #DE3000;
    font-size: 3em; 
    font-family: poppins;
    font-weight: 600;
}

h2 {
    color: #ffffff;
    font-size: 1.75em;
    font-family: poppins;
    font-weight: 700;
    margin: .25em 0em .25em 1.5em;   
}

h3 {
    color: #4d8b55;
    font-size: 1.5em;
    font-kerning:normal;
    font-family: poppins;
    font-weight: 700;
    margin: 0em 0em 0em 1.75em;
    text-transform: uppercase;  
}

h4 {
    color: #ffffff;
    font-family: poppins;
    font-size: 1.25em;
    font-weight: 700;
    margin: .25em 2.65em 0em .15em;
}

p {
    color: #ffffff;
    font-size: 1em;
    font-kerning:normal;
    font-family: poppins;
    font-weight: 200;
    margin: 0em 2em .75em 2.65em; 
}

li{ 
    color: #ffffff;
    font-family: poppins;
    font-size: 1em;
    font-weight: 200;
    margin: 0em 2.65em 0em 2.65em;
}

ul {
    padding:0em 2.65em 0em 1em;
    color: rgb(255,255,255);
    font-family: sans-serif;
}

ol {
    padding:0em .65em 0em 0em;
    color: rgb(255,255,255);
    font-family: sans-serif;
}

figcaption {
    color: #707070;
    font-family: poppins;
    font-size: 0.75em;
    font-weight: 200;
}

footer {
    background-color: #4d8b55;
    margin: 3em 0em 0em 0em;
    padding: 1.25em 0em .5em 0em;
    width: 100%;
    text-align: center;
}

p.footer {
    color: #ffffff;
    font-size: .75em;
    font-kerning:normal;
    font-family: poppins;
    font-weight: 200; 
}

p.time {
    color: #ffffff;
    font-size: 1em;
    font-kerning:normal;
    font-family: poppins;
    font-weight: 200;
    margin: 0em 2em 1em .35em; 
    
}

p.menu {
    color: #ffffff;
    font-size: 1em;
    font-kerning:normal;
    font-family: poppins;
    font-weight: 200;
    margin: 0em 0em .5em .25em; 
}